body {
  background-color: #b0e0e6;
}
img {
  height: 150px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #66bfbf;
  border-width: 5px;
  width: 5%;
}
h3 {
  color: blue;
}
h1 {
  color:blue;
}
